html,body{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #616161;

}

#wrapper{
  height: 100vh;
  width: 100%;
  opacity: 0;
  padding: none;
  margin: none;
  transition: opacity 3s ease;
}

.hero{
  background-color: #909090;
  margin: none;
  padding: none;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1{
  font-family: 'elgocthin';
  font-size: 120px;
  color: white;
  padding: none;
  margin: none;
  float: left;
}

.title{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.mainline{
  width: 100%;
}

.info-mainline{
  width: 71%;
}

hr{
  width: 100%;
  height: .5px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.info{
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size: 15px;
  color: white;
  padding-right: 30px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  right: 0;

}

.info-light{
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size: 15px;
  color: #235236;
  padding-right: 30px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  right: 0;

}

.content-container{
  margin: none;
  padding: none;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

}

.content-box{
  z-index: 1;
  margin-left: 100px;
  padding: 30px 30px;
  background-color: none;
  border: 1px;
  border-style: solid;
  border-color:	white;
  color:	white;
  height: 350px;
  width: 400px;

}

.content-box hr{
  width: 100%;
  height: .25px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.content-box h1{
  font-family: 'elgocthin';
  padding: none;
  margin: none;
  line-height: 0;
  font-size: 62px;
}
.content-box h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 0;
  padding: 0;
  margin: 0;

}

.content-box p{

}

#resume{
  width: 100%;
  height: 50px;
  margin: 0;
  position: absolute;
  left: 0;
  bottom:0;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

#resume:hover{
  background-color: #235236;
/*  border: .5px solid white;*/

  color:white;


}

#resume p{
  font-family:'Montserrat', sans-serif;
  font-weight:700;

}


.content-box p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;

}


.fixed-menu{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: none;
  padding-top: 20px;
  padding-left: 50px;
}

#fixed-item{

  margin-left: 410%;

}
.fixed-menu ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

}

.fixed-menu li{
  float: left;
  text-align: left;
}

.fixed-menu a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}


#light a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 25px;
  display: block;
  color: white;
  opacity: 25%;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#light a:hover{
  opacity: 90%;
  text-shadow: 2px 2px 30px white;
}
#home-menu{
  position: fixed;
  left: 0px;
  z-index: 1;
  margin-top: 180px;
  padding: 0px;
  /* margin-right: 100px; */
  background-color: none;

}

#home-menu ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#home-menu li{
  float: left;
  text-align: left;

}

#home-menu a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 35px;
  display: block;
  color: white;
  opacity: 25%;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  background: none;
}

#home-menu a:hover{
  opacity: 90%;
  text-shadow: 2px 2px 30px white;
  background: none;
}


.project-box{
  display: flex;
  align-items: center;
  /* margin: 0 13px; */
  padding: 30px 30px;
  background-color: none;
  border: 1px;
  border-style: solid;
  border-color:	white;
  color:	white;
  height: 350px;
  width: 400px;
  position: relative;
	z-index: 5;
	transition: color var(--time);
}

.project-box hr{
  width: 100%;
  height: .25px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.project-box h1{
  font-family: 'elgocthin';
  padding: none;
  margin: none;
  line-height: 0;
  font-size: 60px;
}
.project-box h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 0;
  padding: 0;
  margin: 0;

}


.project-box p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;

}
.project-container{
  padding: 0 20px;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

.HOVER {
	--width: 100%;
	--time: 0.7s;
	position: relative;
	display: inline-block;
	/* height: 1em; */
	/* padding: 1em; */

	color: #235236;
	overflow: hidden;
  text-decoration: none;
}

.HOVER span {
	border-radius: 100%;
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;

	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

#green{
    background-color: #235236;
}
#blue{
  background-color: #0a435c;
}
#orange{
  background-color: #d46b0d;
}
.HOVER:hover span {
	width: calc(var(--width)*2.25);
	padding-top: calc(var(--width)* 2.25);
}

.animated {
	--angle: 5deg;
	animation: shake 0.3s;
}

.proj-nav{
  width: 100%;
  background-color: white;
  height: 25px;

}
#proj-header{

  width: 100%;
  position: fixed;
  top:0;
  font-size: 60px;
  background: #235236;
}
#proj-header h1{
  font-family: 'elgocthin';
  padding: none;
  margin: none;
  line-height:20%;
  color: white;
}

.proj-content{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 400px;
  padding: 20px 100px;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  text-align:  center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  opacity: 25%;
  padding: 16px 50px;
  min-width: 160px;
  font-size: 16px;
  border: none;
  cursor: none;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: none;
  opacity: 90%;
  text-shadow: 2px 2px 30px white;
  outline: 0;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  color: white;
  opacity: 25%;
  padding: 16px 50px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  opacity: 90%;
  text-shadow: 2px 2px 30px white;
}

.floor .floor-6{
  width: 100%;
  height: 100vh;
  margin: none;
  padding: none;
  display: flex;
}

.nav-center{
  justify-content:center;
}

 ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

 li a{
  padding: 10px 25px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  text-transform: lowercase;
  background: #eee;
  opacity: 25%;
  border-radius:3px;
  margin-bottom:2px;
  color: #eee;
}

 li a:hover{
  cursor:pointer;
  background: white;
  color: grey;
}

.links-to-floor{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 20px;
}

.selected a{
  color: gray;
  background:white;
  opacity: 70%;
}
.selected a:hover{
  color: white;
  background:#4fade3;
}

#ascensorBuilding{
  margin: none;
  padding: none;
}

#videoBG{
  opacity: 75%;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: none;
  margin: none;
  min-width: 120%;
  min-height: 120%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: none}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@font-face {
    font-family: 'elgocthin';
    src: url('../font/elgoc-thin-webfont.woff2') format('woff2'),
         url('../font/elgoc-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
