html,body{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #616161;

}

#wrapper{
  height: 100vh;
  width: 100%;
  opacity: 0;
  padding: none;
  margin: none;
  transition: opacity 3s ease;
}

.hero{
  background-color: #909090;
  margin: none;
  padding: none;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1{
  font-family: 'elgocthin';
  font-size: 120px;
  color: white;
  padding: none;
  margin: none;
  float: left;
}

.title{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.mainline{
  width: 100%;
}

.info-mainline{
  width: 71%;
}

hr{
  width: 100%;
  height: .5px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.info{
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size: 15px;
  color: white;
  padding-right: 30px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  right: 0;

}

.info-light{
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size: 15px;
  color: #235236;
  padding-right: 30px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  right: 0;

}

.content-container{
  margin: none;
  padding: none;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

}

.content-box{
  z-index: 1;
  margin-left: 100px;
  padding: 30px 30px;
  background-color: hsla(21, 5%, 75%, 0.53);
  border: 1px;
  border-style: solid;
  border-color:	white;
  color:	white;
  height: 425px;
  width: 450px;

}

.content-box hr{
  width: 100%;
  height: .25px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.content-box h1{
  font-family: 'elgocthin';
  padding: none;
  margin: none;
  line-height: 0;
  font-size: 62px;
}
.content-box h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 0;
  padding: 0;
  margin: 0;

}

.content-box p{

}

#resume{
  width: 100%;
  height: 50px;
  margin: 0;
  position: absolute;
  left: 0;
  bottom:0;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

#resume:hover{
  background-color: #235236;
/*  border: .5px solid white;*/

  color:white;


}

#resume p{
  font-family:'Montserrat', sans-serif;
  font-weight:700;

}


.content-box p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;

}


.fixed-menu{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: none;
  padding-top: 20px;
  padding-left: 50px;
}

#fixed-item{

  margin-left: 410%;

}
.fixed-menu ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

}

.fixed-menu li{
  float: left;
  text-align: left;
}

.fixed-menu a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}


#light a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 25px;
  display: block;
  color: white;
  opacity: 25%;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#light a:hover{
  opacity: 90%;
  text-shadow: 2px 2px 30px white;
}
#home-menu{
  position: fixed;
  left: 0px;
  z-index: 1;
  margin-top: 180px;
  padding: 0px;
  /* margin-right: 100px; */
  background-color: none;

}

#home-menu ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#home-menu li{
  float: left;
  text-align: left;

}

#home-menu a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 35px;
  display: block;
  color: white;
  opacity: 25%;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  background: none;
}

#home-menu a:hover{
  opacity: 90%;
  text-shadow: 2px 2px 30px white;
  background: none;
}


.project-box{
  display: flex;
  align-items: center;
  /* margin: 0 13px; */
  padding: 30px 30px;
  background-color: none;
  border: 1px;
  border-style: solid;
  border-color:	white;
  color:	white;
  height: 350px;
  width: 400px;
  position: relative;
	z-index: 5;
	transition: color var(--time);
}

.project-box hr{
  width: 100%;
  height: .25px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.project-box h1{
  font-family: 'elgocthin';
  padding: none;
  margin: none;
  line-height: 0;
  font-size: 60px;
}

#tact-title{
  font-family: 'elgocthin';
  padding: none;
  margin: none;
  line-height: 0;
  font-size: 60px;
}
.project-box h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 0;
  padding: 0;
  margin: 0;

}


.project-box p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;

}
.project-container{
  padding: 0 20px;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

.HOVER {
	--width: 200%;
	--time: 0.7s;
	position: relative;
	display: inline-block;
	/* height: 1em; */
	/* padding: 1em; */

	color: #235236;
	overflow: hidden;
  text-decoration: none;
}

.HOVER span {
	border-radius: 100%;
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;

	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

#green{
    background-color: #235236;
}
#blue{
  background-color: #0a435c;
}
#orange{
  background-color: #d46b0d;
}
.HOVER:hover span {
	width: calc(var(--width)*2.25);
	padding-top: calc(var(--width)* 2.25);
}

.animated {
	--angle: 5deg;
	animation: shake 0.3s;
}

.proj-nav{
  width: 100%;
  background-color: white;
  height: 25px;

}
#proj-header{

  width: 100%;
  position: fixed;
  top:0;
  font-size: 60px;
  background: #235236;
}
#proj-header h1{
  font-family: 'elgocthin';
  padding: none;
  margin: none;
  line-height:20%;
  color: white;
}

.proj-content{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 400px;
  padding: 20px 100px;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  text-align:  center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  opacity: 25%;
  padding: 16px 50px;
  min-width: 160px;
  font-size: 16px;
  border: none;
  cursor: none;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: none;
  opacity: 90%;
  text-shadow: 2px 2px 30px white;
  outline: 0;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  color: white;
  opacity: 25%;
  padding: 16px 50px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  opacity: 90%;
  text-shadow: 2px 2px 30px white;
}

.floor .floor-6{
  width: 100%;
  height: 100vh;
  margin: none;
  padding: none;
  display: flex;
}

.nav-center{
  justify-content:center;
}

 ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

 li a{
  padding: 10px 25px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  text-transform: lowercase;
  background: #eee;
  opacity: 25%;
  border-radius:3px;
  margin-bottom:2px;
  color: Gray;
}

 li a:hover{
  cursor:pointer;
  background: grey;
  color: white;
  opacity: 80%;
}


.links-to-floor{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 20px;
  color:white;
}

.selected a{
  color: gray;
  background:white;
  opacity: 70%;
}
.selected a:hover{
  color: white;
  background:#235236;
}


#ascensorBuilding{
  margin: none;
  padding: none;
}

#videoBG{
  opacity: 80%;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: none;
  min-width: 100%;
  min-height: 110%;

}

.menu-bg{
  height: 400px;
  width: 100%;
  position: fixed;
  top: 0;

}



.windowed{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
}

.window-col{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.content-side{
  height: 100%;
  width: 40%;
}

.window-side{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
}

#window{
  position: absolute;
  z-index: 9;
  width: 50vw;
  height: 75vh;
}

#window2{
  position: absolute;
  z-index: 9;
  width: 25vw;
  height: 45vh;

}

#window3{
  position: absolute;
  z-index: 9;
  width: 70vw;
  height: 70vh;

}
.windowcontent{
  overflow: none;
  margin: 5px;
  display: flex;
  justify-content: center;

}

.windowcontent iframe{
  border: 0;
  height: 95%;
  left: 0;
  position: absolute;
  width: 100%;
}

#drive{
    height: 100%;
    width: 100%;
    background-color: #d1d1d1;
    border: .5px solid white;
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #acacac;
}

#notes{
    height: 100%;
    width: 100%;
    background-color: white;
    border: .5px solid white;
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #acacac;
    cursor: default;
}
#vid{
    height: 100%;
    width: 100%;
    background-color: black;
    border: .5px solid white;
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #acacac;
    cursor: default;
}

#windowheader, #window2header, #window3header {
  cursor: move;
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* background: -webkit-gradient(linear, left top, left bottom color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5))); */
  background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
  background: linear-gradient(top, #ebebeb, #d5d5d5);
  color: #4d494d;
  font-size: 11pt;
  line-height: 20px;
  text-align: center;
  margin-bottom: 0px;
  height: 20px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.buttons {
  padding-left: 8px;
  padding-top: 3px;
  float: left;
  line-height: 0px;
}

.buttons:hover a {
  visibility: visible;
}

.close {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}

.close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.close:active .closebutton {
  color: #4e0002;
}

.closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
}

.minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
  color: #5a2607;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 5px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
}

.zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.zoom:active .zoombutton {
  color: #003107;
}

.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

.buttons a {
  text-decoration: none;
}

.buttons span {
  line-height: 9px;
  vertical-align: 50%;
}

#note-text{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
#note-text h2{
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 5px;
}

#note-text ul{
  text-decoration: none;
  list-style-type: disc;
  display: block;
  margin-left: 25px;
}

.note-content{
  margin-left: 10px;
  font-weight: 400;

}

.note-content img{
  height: 300px;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

}


#windowVid{
  padding-top: 10px;
  max-height: 200%;
  max-width: 200%;
  position: absolute;


}

.idle{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 100%;
}

.idle-bg{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -2;
}
#idleVideo{

  position: fixed;
  right: 0;
  bottom: 0;
  padding: none;
  min-width: 100%;
  min-height: 110%;
  z-index: -1;
  animation: pulse 10s infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

}

@keyframes pulse {


      0%{
        opacity: 40%;
      }


      50%{
        opacity: 100%;
      }


      100%{
        opacity: 40%;
      }
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: none}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@font-face {
    font-family: 'elgocthin';
    src: url('../font/elgoc-thin-webfont.woff2') format('woff2'),
         url('../font/elgoc-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
